github "ReactiveCocoa/ReactiveSwift"
github "kumabook/Breit"
github "realm/realm-cocoa"
github "ishkawa/APIKit"
github "ikesyo/Himotoki"
github "thoughtbot/Delta" "swift-3.0"
github "dekatotoro/SlideMenuControllerSwift"
github "jdg/MBProgressHUD"
github "rs/SDWebImage" "master"
github "SnapKit/SnapKit"
