{
    "baseUrl":                    "",
    "clientId":                   "",
    "clientSecret":               "",
    "admobApplicationID":         "",
    "abmobTableViewCellAdUnitID": "",
    "admobBannerAdUnitID":        ""
}
